




// Materialize
@import "node_modules/materialize-css/sass/materialize";

// Custom Functions And Mixins
@import "includes/var";
@import "includes/mixins";

// Fonts and Stuff
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Direct Variables
$primary-color : #0091ea;
$secondary-color : #5a5a5a;
$alternate-color : #4f3021;

$font: 'Open Sans', sans-serif;



// Default Styles

body {
	// background: #eee;
	margin: 0;
	// width: 100vw;
	overflow-x: hidden !important;
}

p {
	color: $secondary-color;

	@include mobile {
		font-size: 14px !important;
	}
}
a {
	font-family: $font;
}

a.btn, .btn, button.btn, button {
	color: #fff !important;
	// font-weight: bold;
	background-color: $primary-color;
	letter-spacing: 2px;

	&:hover {
		background-color: $primary-color - 30;
		color: #fff !important;
	}

	&:focus {
		background-color: $primary-color - 30;

	}
}

a {
	&:hover {
		color: $secondary-color;
		text-decoration: none !important;
	}
}

h1, h2, h3 {
	font-family: $font;
	letter-spacing: 2px;
	font-size: 28px;
	color: $secondary-color;

	@include mobile {
		font-size: 22px;
	}
}
h4 {
	font-family: $font;
	letter-spacing: 2px;
	font-size: 22px;
	color: $secondary-color;

	@include mobile {
		font-size: 18px;
	}
}

.flow {	
	font-size: 18px !important;
	padding-bottom: 15px
}

/*---------------------------------

// FOr Frontend

--------------------------------*/

header {
	width: $container-width !important;
	.logo-div {
		margin-bottom: 0;
		.logo {
		}
		img {
			width: 200px;
		}

		.card {
			.card-content {
				padding: 0;
			}
		}

	}
	@include tab {

		width: 100% !important;
		background: $secondary-color;
		overflow-x: hidden;
		.logo-div {
			padding: 2%;
			.ads {
				display: none;
			}
		}
		
	}
}

.flash-news {
	background: $primary-color;

	.slick-dots, .slick-arrow {
		display: none !important;
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}

	p a {
		color: #fff;
		font-size: 18px !important;
	}

	.slick-slide {
		p {
			@include line-clamp(21px, 1);
			color: #fff;
		}
	}
}

.main-nav {
	@include tab {		
	    position: absolute;
	    top: 2%;
	    right: 2%;
	    width: auto;

	    .button-collapse {
	    	color: #5a5a5a;
	    }

	    .side-nav {
	    	li {
	    		a {
	    			font-size: 18px;
	    		}
	    		&:first-child {
	    			height: 60px;

	    			span {
	    				display: none;
	    			}
	    		}
	    	}
	    }

	}
}

ul.navigation {
	li {
		// position: relative;
		a {
			color: $secondary-color;
			&:hover {
				background: $t;
				color: $primary-color !important;
			}
		}
		span {
			width: 0%;
			// position: absolute;
			display: block;
			margin: -18px auto 0;
			background: $primary-color;
			height: 1px;
			// left: 50%;
			// transform: translateX(50%);
			@include vendor(transition, all 0.2s ease-out);

			@include tab {
				margin: 0;
				margin-top: -10px;
			}
		}

		&:hover {
			span {
				width: 90%;

				@include tab {
					width: 100%;
				}
			}
		}
		&.active {
			background: $t;
			span {
				width: 90%
			}

			a {

				color: $primary-color !important;
			}
		}
	}

	input {
		margin-bottom: 0;
	}
}
ul.auth {
	a {
		font-size: 13px;
	}
	li {
		&:hover {
			span {
				width: 80%;
			}
		}
		&:first-child {
			span {
				display: none;
			}
		}
	}
}


.large-post {
	.parallax-container {
		min-height: 580px;
		line-height: 0;
		height: auto;
		color: rgba(255,255,255,.9);
		min-width: 100%;

		.section {
			position: absolute;
			bottom: 0;
			background: rgba($secondary-color, 0.5);
			width: 100%;

			.header {
				color: #fff;
			}
			p {
				text-align: center;
				color: #fff;
			}
		}
	}
	.content {
		p.wrap {
			width: 80%;
			margin: 50px auto 25px;
			font-size: 18px;

			@include line-clamp (24px, 6);
		}

		.btn-row {
			margin-bottom: 50px;
		}
	}

}

.small-post {
	li {
		// border-bottom: 1px solid #ccc;
		// width: 80%;
		
	}
    .small {
    	font-size: 13px;
    	margin-bottom: 0;
    }

	a {		
	    color: $secondary-color;
	    display: block;
	    h4 {
	    	@include line-clamp(24px, 1);
	    	margin-top: 0;
	    }
	}
}

.slide-news {
	.card-content {
		a {
			color: #5a5a5a;

			&:hover {
				color: $primary-color;
			}
		}
		p {
			@include line-clamp(21px, 3);
		}
	}
}

.page-single-news {
	.share {
		margin-top: 35px;
	}

	.callout {
		position: relative;
		bottom: -150px;
		left: 4%;

		.callout-content {
			position: absolute;
			padding: 20px;
			font-size: 20px;
			top: -120px;

			p {
			}
			span {
				font-size: 40px;

			}

		}
	}
}

.latest {
	a {
		h4 {
			font-size: 18px;
		}
	}
}


section {
	padding-bottom: 75px;

	.section-title {
		h4 { 
			font-size: 28px;
		    border-bottom: 2px solid;
		    float: left;
		    line-height: 30px;

		}
	}
}

.img-div {
	img {
		width: 100%;
	}
}

.page-footer {
	background-color: $primary-color;
}


// DASHBOARD


td, th {
	max-width: 50vw;
}

.top-nav {
	background: $secondary-color;

	.dropdown-content.active {
		min-width: 175px;
		// margin-left: -60px;
	}

	.btn {
		background: $t;
		color: #fff;
		padding: 0 1rem;
		font-size: 18px;
		font-weight: bold;
		border-radius: 0;
	}

}

.side-nav {
	.collapsible-body {
		ul {
			margin-left: 30px;
			border-left: 1px solid #ccc;
		}
	}

	i {
		margin-right: 0 !important;
	}
	li a {
		padding: 0 20px !important;
	}
	.userView {
		a {
			padding: 0 !important;
		}

	}
}

nav.breadcrumbs {
	background: #e3e3e3;
	height: auto;
	line-height: 35px;
	padding-left: 15px;
	box-shadow: none;

	a {
		font-size: 13px;
		color: $secondary-color;

		&:hover {
			color: $primary-color;
		}
	}
}

.collection {
	.row {
		margin-bottom: 0;
	}
	p {
		margin: 0;
		padding: 0;
		padding-left: 15px;
	}
}

#slide-out{
	z-index: 99999999999;
}

.note-editor {
	.note-editable {
		height: 200px;
	}
}

.dropdown-content.select-dropdown {
	z-index: 9999999;
}

.dashboard {
	.btn.right {
		margin-top: 15px;
	}
	.card {
		a {
			color: $secondary-color !important;

			&:hover {
				color: $primary-color !important;
			}
		}
		.card-image .card-title {
			width: 100%;
			margin: 0;

			.btn {
				color: #fff !important;
				padding: 0 1rem;
			}
		}
		p {
			color: $secondary-color;
		}
	}

	.btn-cards {
		.card-content {
			p {
				font-size: 18px;
				color: #fff;

				i {
					display: block;
					padding-bottom: 10px;
				}
			}
		}
	}

	table {
		.btn {
			padding: 0 1rem;
		}
	}
}

.errors{
	color:red;
}