




// Materialize
@import "node_modules/materialize-css/sass/materialize";

// Custom Functions And Mixins
@import "includes/var";
@import "includes/mixins";

// Fonts and Stuff
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Direct Variables
$primary-color : #5a5a5a;
$secondary-color : #e13c3c;
$alternate-color : #4f3021;

$font: 'Open Sans', sans-serif;



// Default Styles

body {
	// background: #eee;
	margin: 0;
	overflow-x: hidden;
}


p, a, body {
	font-family: $font;
	color: $primary-color !important;
}

a.btn {
	color: #fff !important;
}

a {
	&:hover {
		color: $secondary-color;
		text-decoration: none !important;
	}
}

h1, h2, h3 {
	font-family: $font;
	letter-spacing: 2px;
	font-size: 28px;
	color: $primary-color;
}
h4 {
	font-family: $font;
	letter-spacing: 2px;
	font-size: 22px;
	color: $primary-color;
}

.flow {	
	font-size: 18px !important;
	padding-bottom: 15px
}

/*---------------------------------

// FOr Frontend

--------------------------------*/

header {
	width: $container-width !important;
	.logo-div {
		.logo {
			background: $primary-color;
		}
		img {
			width: 200px;
		}

		.card {
			.card-content {
				padding: 0;
			}
		}
	}
}


.large-post {
	.parallax-container {
		min-height: 380px;
		line-height: 0;
		height: auto;
		color: rgba(255,255,255,.9);
		min-width: 100%;

		.section {
			position: absolute;
			bottom: 0;
			background: rgba($primary-color, 0.5);
			width: 100%;

			.header {
				color: #fff;
			}
		}
	}
	.content {
		p.wrap {
			width: 80%;
			margin: 50px auto 25px;

			@include line-clamp (24px, 6);
		}

		.btn-row {
			margin-bottom: 50px;
		}
	}

}

.small-post {
	border-bottom: 1px solid #ccc;

	a {		
	    padding-right: 30px;
	    padding-bottom: 15px;
	} 
}

section {
	padding-bottom: 75px;
}

.img-div {
	img {
		width: 100%;
	}
}

.page-footer {

}